<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Craft Code Admin Panel</title>
    <fetch-webcomponent src="/webcomponents/CrafterWidgets.wc"></fetch-webcomponent>
    <fetch-webcomponent src="/webcomponents/SideBar.wc"></fetch-webcomponent>
    <script type="text/javascript" src="/js/polyfills.min.js"></script>
    <script type="text/javascript" src="/js/Crafter.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>
  <body>

  </body>
</html>
