<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Craft Code</title>
    <!--link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,500,500italic,700,700italic,300|Source+Code+Pro:400,500,300,600,700' rel='stylesheet' type='text/css' -->
    <link rel="stylesheet" href="/src/css/fontello/css/fontello.css">
    <link rel="stylesheet" href="/src/css/craftcode.css">
    <script type="text/javascript" src="/src/js/polyfills.min.js"></script>
    <!--script type="text/javascript" src="/src/js/Crafter.js"></script -->
    <script type="text/javascript" src="http://192.168.10.108:4500/getfile/?dir=/home/saul/Documents/Crafterjs/src/Crafter.js"></script>
    <script type="text/javascript" src="/src/js/craftcode.js"></script>
  </head>
  <body>
    <fetch-webcomponent src="/src/webcomponents/CrafterWidgets.wc"></fetch-webcomponent>
    <noscript>
      <div class="scriptless icon-emo-unhappy">CraftCode.xyz depends on JavaScript , please enable it.</div>
    </noscript>
    <top-bar>
      <div class="craft-logo"></div>
      <nav>
        <nav-item ripple="rgba(23, 154, 167, 0.45)" color-accent="rgb(23, 154, 167)" link="#about">About me</nav-item>
        <nav-item ripple="rgba(210, 18, 64, 0.45)" color-accent="rgb(210, 18, 64)" link="#code">Code</nav-item>
        <nav-item ripple="rgba(241, 208, 90,0.45)" color-accent="hsl(46, 84%, 50%)" link="#crafter.js">Crafter.js</nav-item>
      </nav>
    </top-bar>
    <context-menu scope="main">
      <section>Account Settings</section>
    </context-menu>
    <main class="main">
        <page-view name="#about">
          <div class="biscuit-tall">

          </div>
        </page-view>
        <page-view name="#crafter.js" src="/src/images/crafter-logo.svg">
          <div class="biscuit"></div>
        </page-view>
        <page-view name="#code">
          Hello from da ader side!!!
        </page-view>
    </main>
  </body>

</html>
